.article {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.left {
  left: 0;
}

.rigth {
  right: 0;
}



@media (max-width:950px) {
  .article {
    width: 90%;
  }
}

@media (max-width:550px) {

  .section--projects {
    padding: 0;
  }

  .article {
    width: 100%;
  }

  .article__li {
    padding: 10%;
  }

  .article__img {
    width: 100%;
  }

  .article__p {
    font-size: 1rem;
    padding: 0;
  }

}

.section .article__li:hover {
  transform: translateY(0);
}